.containerindex {
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 25px;
    display: flex;
    flex-direction: row;
  }

.containerindex .image {
    width: 48%;
    height: 100%;
    margin-top: 6vh;
    margin-left: 1.5vw;
    margin-bottom: 6vh;
  }

.containerindex .para {
    width: 48%;
    height: 100%;
    margin-top: 9vh;
    margin-right: 2vw;
    margin-left: 2.5vw;
  }

.containerprestasi {
    width: 94vw;
    height: 150vh;
    margin-top: 25px;
    margin-left: 2vw;
    margin-right: 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.container-fluid .row .col-md-8 .kiri {
    margin-top: 5vh;
    width: 30vw;
    height: 9vh;
}

.container-fluid {
    margin-left: 0px;
    margin-top: 0px;
    display: flex;
    flex-direction: row;
}

.container-fluid .row .col-md-8 {
    height: 100vh;
    padding-left: 0px;
    padding-right: 0px;
    display: flex;
    flex-direction: column;
}

.container-fluid .row .col-md-4 {
    height: 104vh;
}

.container-fluid .row .col-md-4 .image {
    margin-top: 80px;
}

.buttonreadmore {
    margin:auto;
    display:block;
}

@media only screen and (max-width: 900px) {
    .containerindex {
        margin-left: 5vw;
        margin-right: 5vw;
        margin-top: 25px;
        display: flex;
        flex-direction: column;
    }
    
    .containerindex .image {
        width: 95%;
        height: 100%;
        margin-top: 6vh;
        margin-left: 1.5vw;
        margin-bottom: 6vh;
      }

    .containerindex .para {
        width: 95%;
        height: 100%;
        margin-top: 1.5vh;
        margin-left: 2.5vw;
      }
  }